.wrapper{color:#494949;}

.header{
	display:block;
	text-align: left;
	height: 50px;
	background: #E5E5E5;
	font-size:2.5em;
	margin-bottom: 20px;
	padding-left: 20px;
}

.border1{
	border-bottom: 1px solid #CBCBCB;
	padding-left: 0;
	margin-bottom:30px;
	margin-left:26%;
}

.border2{
	border-bottom: 1px solid #CBCBCB;
	margin-left: 30px;
	margin-bottom:30px;
	padding-left: 0;
	padding-bottom:30px;
}

.border3{
	margin-left: 30px;
	margin-bottom:30px;
	padding-left: 0;
	padding-bottom:30px;
}

.round1{
	width: 215px;
	height: 215px;
	border-radius:50%;
	background-image: url(../images/img.jpg);
	margin-left: 5%;
	margin-top: 30px;
	-webkit-background-size: cover;
	background-size: cover;
}
.round2{
	width: 215px;
	height: 215px;
	border-radius:50%;
	background-image: url(../images/img.jpg);
	margin-left: 5%;
	margin-top: 30px;
	-webkit-background-size: cover;
	background-size: cover;
}


.wrapper{
	margin:0 5% 0 5%;
}

.bg_img{
	width: 100%;
}

.blok{width:100%;
margin-bottom:30px;
}

.wrapper3{
margin: 20px 10% 20px 10%;
}

.page1 p{
	font-size: 1.2em;
}

.page2 p{
	font-size: 1.15em;
}

.page2 h3{
	margin-bottom: 0;
}

.apply, .cancel{	
	width: 110px;
	height: 38px;
	margin-left:5px;
}

.apply{
background: #33CC99;
color:#fff;
border:1px solid #33CC99;
font-weight: bold;
border-radius:3px ;
-webkit-transition:0.3s;
-moz-transition:0.3s;
-ms-transition:0.3s;
-o-transition:0.3s;
transition:0.3s;
}

.apply:hover{
	background: #fff;
	color:#33CC99;
}

.cancel{
background:#fff;
border:1px solid #D5D5D5;
color:#48484D;
font-weight: bold;
border-radius:3px ;
-webkit-transition:0.1s;
-moz-transition:0.1s;
-ms-transition:0.1s;
-o-transition:0.1s;
transition:0.1s;
}

.cancel:hover{
border-color:#979797 ; 
}

.button_wrap{
	margin:30px 0 40px 5px;
}

.button_wrap a:hover{
text-decoration:none;
}

.sales_intern{
	background: #F4F4F4;
	border-top:2px solid #CBCBCB;
	border-bottom:1px solid #CBCBCB;
	padding:15px 5px 15px 10px;
	margin: 20px 0 5px 0;
}

.wrapper3 div:first-child p{
font-size: 1.23em;
border-bottom: 2px solid #CBCBCB;
padding:10px 15px 15px 15px;

}
.border4{
	border-bottom: 1px solid #CBCBCB;
	margin-left: 0;	
	padding-left: 0;
	margin-right: 0;
	padding-bottom:5px;
	margin-top: 30px;
}

.nav-tabs>li:first-child {
    padding-left: 0px;
}

.pdl-n{
	padding-left: 0;
}

.mrb {margin-bottom: 20px;}


.pdn{
	padding-top:15px;
	padding-bottom:15px;
	border-bottom: 1px solid #CBCBCB;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 5px;
}

.myp{
	margin-bottom: 0px;
    margin-top: 15px;
}

ul.myul li{
list-style-type: none;
}

ul.myul li:before{
	content: '-';
	margin-left: -10px;
}

ul.myul{
	padding-left: 10px;
}

h1.myh1 {
    margin-top: 30px;
    font-size: 2.1em;
    font-weight: bold;
}
.ln-h{
	line-height: 2em;
}
#more{
	color:#FDCD26;
	  font-size: 1.3em;
    font-weight: bold;
    float:right;
    margin-right: 15px;
    line-height: 1.7em;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
}
.round3{
	background:#FDCD26;
	height: 26px;
	width: 26px;
	border-radius:50%;
	position: relative;
	float:right;
	margin-right: 10px;
	top: 2px;
	-webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
}
.round3:before{
	content:"+";
	color:#fff;
	font-size: 2em;
	position: absolute;
	left: 5px;
  top: -7px;

}
.round4{
	background:#FDCD26;
	height: 26px;
	width: 26px;
	border-radius:50%;
	position: relative;
	float:right;
	margin-right: 10px;
	top: 2px;
	-webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
}
.round4:before{
    content: "";
    color: #fff;
    font-size: 3em;
    position: absolute;
    left: 5px;
    top: 11px;
    background: #fff;
    height: 3px;
    width: 15px;

}


.hov:hover .round3{
background:#33CC99;

}
.hov:hover #more{
	color:#33CC99;
	
}
#myhide{
	display: none;
}
@media (max-width: 991px) {

.border1 {
    text-align: center;
		margin-left: 0px;
		margin-right:0px;
}
.page2{
	  margin-right: 0px;
    margin-left: 0px;
}
.round1, .round2{
	    margin: 30px auto;
	    width: 150px;
	    height: 150px;

}
.center{
text-align: center;
}
.border2{
	margin-left:0px;
	padding-left:20px;
}
.border3{
	margin-left:0px;
	padding-left:20px;
}
.blok {
    width: 60%;
    margin-left: 20%;
}
.hid{
	display:none;
}
.border4{
margin-top:0px;
}
}
@media (max-width: 700px) {
.blok {
    width: 100%;
    margin-left: 0;
}

}